<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        *{
            padding:0;
            margin:0;
            box-sizing: border-box;
        }
         
        nav{
            height:60px;
            width:100%;
            display:flex;
            align-items: center;
            justify-content:space-between;
            background-color:pink;
            padding: 0 40px;  /* spacing on left & right */
        }

        .logo{
            height:100%;
            width:15%;
            display:flex;
            align-items: center;
            justify-content: center;
            background-color: antiquewhite;
            font-size: 30px;
        }

        ul{
            height:60px;
            width:40%;
            display:flex;
            align-items:center;
            justify-content: space-around;
            font-size: 20px;
            list-style: none;
        }

        a{
            color:red;
            text-decoration: none;
        }

    </style>

</head>
<body>

    <nav>
        <div class="logo">Logo</div>

        <div>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>

    </nav>

</body>
</html>
